<?xml version="1.0" ?>
<robot name="spot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro for loading Spot -->
  <xacro:include filename="$(find spot_tools_ros)/urdf/spot_macro.xacro" />

  <!-- String that will be prepended to all joints and links-->
  <xacro:arg name="tf_prefix" default="spot/" />

  <!-- Set to true if Spot has an arm -->
  <xacro:arg name="arm" default="false" />

  <!-- Set to true if Spot has an arm but not a gripper -->
  <xacro:arg name="gripperless" default="false" />

  <!-- Set to true to enable joints -->
  <xacro:arg name="include_transmissions" default="true"/>

  <!-- Set to the accent color you want for spot -->
  <xacro:arg name="spot_color" default="yellow"/>

  <!-- Load Spot -->
  <xacro:load_spot
    arm="$(arg arm)"
    tf_prefix="$(arg tf_prefix)"
    spot_color="$(arg spot_color)"
    gripperless="$(arg gripperless)"
    include_transmissions="$(arg include_transmissions)"/>

  <!-- Optional custom includes. -->
  <xacro:arg name="extras_urdf" default="$(find spot_tools_ros)/urdf/empty.urdf.xacro"/>
  <xacro:include filename="$(arg extras_urdf)"/>
  <xacro:load_extras tf_prefix="$(arg tf_prefix)"/>

</robot>
